*,
*::after,
*::before {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	font-size: 62.5%;
	scroll-behavior: smooth;
}

::selection {
	background-color: #68aaff;
	color: #020e14;
}

body {
	background-color: #020e14;
	color: #dadada;
	font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
	font-size: 1.8rem;
	letter-spacing: 0.15rem;
	line-height: 1.5;
	padding: 6rem;
}

//intro section
.intro {
	&__content {
		letter-spacing: 0.15rem;
		line-height: 1.5;
	}

	&__description {
		margin: 3rem 0;
	}
}

//headings
.heading__primary,
.heading__secondary,
.heading__tertiary {
	margin: 2rem 0;
	text-align: center;
	text-transform: uppercase;
}

//button component
.btn {
	background-color: #0488bd;
	border: none;
	border-radius: 1rem;
	box-shadow: 0 0.4rem rgba(#020e14, 0.7);
	color: inherit;
	cursor: pointer;
	display: inline-block;
	font-size: 1.6rem;
	letter-spacing: inherit;
	padding: 2rem 4rem;
}

//intersection observer classes
.lorem {
	margin: 5rem 0;
	opacity: 0;
	transform: translateX(-8rem);
	transition: all 1s ease;
}

.lorem.active {
	opacity: 1;
	transform: translateX(0);
}
//end of intersection observer classes

//products
.products {
	background-color: #c7d7f7;
	border: none;
	border-radius: 0.5rem;
	color: #dadada;
	margin-top: 5rem;
	padding: 3rem;
	width: 100%;
}

//form
.form {
	&__group {
		font-size: inherit;
		width: 100%;
	}

	&__label {
		color: #020e14;
	}

	&__input {
		background-color: #f8f8f8;
		border: none;
		border-radius: 0.6rem;
		font-size: inherit;
		letter-spacing: inherit;
		padding: 1.2rem 1rem;
		margin: 1.5rem 0 2rem;
		width: 100%;

		&:focus {
			outline: none;
			background-color: #d4faf4;
		}
	}

	&__btn {
		margin-bottom: 2rem;
	}
}
